@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    @apply bg-green-600  my-5 mx-1 text-gray-300 uppercase font-bold text-3xl pt-6 py-7 text-center rounded-3xl border-yellow-500;
    border-inline-width: 2px;
    border-block-width: 10px;
}

.sidebar{
    @apply  shadow-2xl;
    height: 100vh;
    background-color: #000000
}
.sub-menu{
    @apply border-t border-gray-500 font-medium bg-gray-800 text-gray-100
}
.ps-menu-button:hover {
    transition-duration: 300ms !important;
    background-color: #101828 !important;
    color: #e3e7e7 !important
}
.ps-menu-root{
    height: 75vh !important
}
.menu-item{
    @apply border-b border-gray-800 bg-gray-600 font-medium text-gray-200;
}
.items{
    @apply hover:bg-slate-300 py-2
}
.table-item{
    @apply border border-gray-300 m-auto grid px-5;
    transition-duration: .3s;
}
.item-item{
    @apply table-item grid-cols-4;
    width: 80%;
}
.restock-item{
    @apply table-item grid-cols-4;
    width: 90%;
}

.col1{
    @apply text-end w-32
}
.item-btn{
    @apply w-fit px-4 py-2 text-gray-100 rounded-md font-semibold hover:shadow-md;
}
.report-details-btn{
    @apply font-semibold text-gray-300 ml-2 border-b-2 border-gray-600 hover:border-gray-100 hover:text-white;
    transition-duration: .3s;
}
.report-sidebar{
    @apply bg-gray-700;
    overflow-y: scroll;
    height: 91vh;
}
.report-line{
    @apply  px-5 py-3 grid grid-cols-4;
    width: 100% !important;
}
.header-line{
    @apply bg-purple-500
}
.add-item-form{
    @apply rounded shadow-xl mx-auto;
    width: 70%;
}
.form-p{
    @apply grid grid-cols-2 px-20 m-2
}
.form-input{
    @apply outline-none border-2 border-gray-700 rounded px-5 py-1;
}